.cards {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 30px 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: url(../images/like-inactive.svg) center;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  background: url(../images/like-active.svg) center;
}

@media screen and (max-width: 620px) {
  .card__list {
  }
}
