.footer {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.footer__copyright {
  max-width: 318px;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
