.header {
  margin-top: 45px;
  padding: 45px 0 0;
  min-height: 74px;
  border-bottom: rgb(84 84 84 / 0.7) solid 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 945px) {
  .header {
    padding: 45px 0 32px 27px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    padding: 28px 0 32px 27px;
    min-height: 56px;
    width: 100%;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
  }
}
