.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__heading {
  margin: 0;
  padding: 34px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000;
}

.modal__form {
  margin: 54px 0 0;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 358px;
}

.modal__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 27px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.modal__button {
  background-color: #000;
  min-height: 50px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 18px;
}
